<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Firebase App</title>
	<script src="https://www.gstatic.com/firebasejs/live/3.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-storage.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-database.js"></script>
	<script src="https://cdn.firebase.com/libs/geofire/4.1.2/geofire.min.js"></script>
	<link rel="stylesheet" href="/assets/css/main.css">

</head>
<body>

	<input type="text" placeholder="lat.." id="latitude">
	<input type="text" placeholder="lng.." id="longitude">
	<input type="text" placeholder="message.." id="message">
	<input type="text" placeholder="name.." id="name">
	<input type="file" id="fileInput" disabled="disabled">
	<button id="submit" disabled="disabled">Send</button>
	<button id="geolocation__button">Use Geolocation</button>

	<div class="wrapper">
		<pre id="object"></pre>
		<div id="map"></div>
	</div>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src="/assets/script/main.js" async></script>
</body>
</html>