<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    
    <input type="file" name="" id="fileInput">

    <script>
        //test

        var fileInput = document.getElementById("fileInput");

        if(fileInput) {
            fileInput.addEventListener("change", function(event) {
                console.log(this.files[0]);
            })
        }

    </script>

</body>
</html>